* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

header {
    background-color: #574186;
    color: #fff;
    padding: 50px;
    text-align: center;
}

.column {
    float: left;
    height: 300px;
}

aside {
    width: 25%;
}

.middle {
    width: 50%;
}

footer {
    background-color: #574186;
    color: #fff;
    text-align: center;
    padding: 100px;
}
